<div class='page'>
  <div class='index'>
    <div class='title'>
      Rosalee and Pubudu are getting married!
    </div>

    <div class='main-image'>
      <%= image_tag('rosalee_pubudu.jpg') %>
    </div>
  </div>
</div>
